<footer>
    <div class="wrapper">
        <p class="about hideMobile">
            <%= description %>
            <br/>
            Mexico City <%= year %>
        </p>
        <ul class="social">
            <li><a target="_blank" href="mailto:hi@arlefreak.com" class="button"><i class="fa fa-envelope-o"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/afk_mcz" class="button"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://github.com/Arlefreak" class="button"><i class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/mariocarballo" class="button"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>

<script src="/js/bundle.js"></script>
    </body>
</html>
