<header id="header">
    <div class="wrapper">
        <div class="title">
            <a href="https://ellugar.co/">
                <img class="logo" src="/img/logo.svg" alt="ellugar">
            </a>
            <h2 class="hideMobile">Mario Carballo Zama</h2>
        </div>
        <nav>
            <ul>
                <li><a class="" href="/"><img src="/img/routes/home.svg" alt="home"></a></li>
                <li><a class="" href="/projects">Projects</a></li>
                <li><a class="" href="/about">About</a></li>
                <li><a class="" href="/logs">Logs</a></li>
                <li><a class="" href="/cv/en-games">CV</a></li>
                <li><a class="" href="/subscribe"><img src="/img/routes/subscribe.svg" alt="subscribe"></a></li>
                <li><a class="" href="/ligoj"><img src="/img/routes/ligoj.svg" alt="Φ"/></a></li>
                <li><a class="" href="/podcasts/detras-del-pixel"><img src="/img/routes/btp.svg" alt="podcasts"/></a></li>
            </ul>
        </nav>
    </div>
</header>
