<% include head.ejs %>
<div id="application">
<% include header.ejs %>
    <main>
        <div class="wrapper">
            <article>
                <div className="spinner-wrapper">
                    <div className="sk-spinner sk-spinner-pulse"></div>
                </div>
            </article>
        </div>
    </main>
</div>

<img class="icono" src="/img/icono.svg" alt="Icono">
<% include footer.ejs %>
