aside
    display block
    width 10vw
    position absolute
    top 50%
    transform rotate(-90deg) translate(-50%,0)
    background $color2
    margin auto
    span
        display block
        position absolute
        width 200px
        text-align center
        font-size 0.8em
        color $gray2
    &.left
        left 0
    &.right
        right 0
        transform rotate(90deg) translate(-100%,0)
