.box
    border 4px solid
    box-sizing border-box
    padding 20px
    margin 0 auto 35px auto
    font-size 1.2em
    transition border-color 0.2s ease
    &.blue
        border-color $highlight-blue
        &:hover
            border-color $highlight-pink
    &.yellow
        border-color $highlight-yellow
    &.pink
        border-color $highlight-pink
    .markdown
        &>:first-child
            margin-top 0
