.button
    color $highlight-blue
    border 2px solid $highlight-blue
    background-color transparent
    margin 0
    cursor pointer
    transition background-color 0.2s ease
    display inline-block
    &:hover
        background-color $highlight-blue
        color $black
