.map
    height 80vh
    display block
    z-index 1

.leaflet-control-container
    .leaflet-bar
        a
            border-radius 0
            background $black
            color $white
            border none

.leaflet-container
    height 100%
    .leaflet-control-attribution
        display none
    svg
        height auto
        width auto

.map-popup
    .leaflet-popup-content-wrapper
        box-sizing border-box
        text-align center
        font-family $fontSans
        color $black
        background $white
        font-weight 700
        font-size 1.2em
        border-radius 0
        .leaflet-popup-content
            padding 0
    .leaflet-container
        a.leaflet-popup-close-button
            color $black
