.markdown
    ul
        margin 20px 0 20px 0
        li
            font-size 1em
            max-width $max-text-width
            line-height 1.8em
            margin 10px 0 10px 0
            /* padding 0 0 0 10px */
            box-sizing border-box
            &:before
                content: '- '
            @media screen and (max-width: $mobile-width)
                width 100%
                font-size 0.8em
                line-height 1.6em
            a
                font-size 1.0em
            p
                display inline
                font-size 1.0em
    h1
        width 100%
        text-align left
        @media screen and (max-width: $mobile-width)
            font-size 1.4em
    h2
        margin 20px 0 20px 0
        @media screen and (max-width: $mobile-width)
            font-size 1.2em
    h3
        width 100%
        @media screen and (max-width: $mobile-width)
            font-size 1.1em
    p
        a
            font-size 1.0em
        &:first-child
            img
                display none
    img
        width 99%
        height auto
        display block
        margin auto
    a
        color $color1
        box-sizing border-box
        position relative
        background $gray1
        z-index 2
        &::before
            width 0%
            height 100%
            z-index -1
            background $gray1
            content ""
            position absolute
            bottom 0
            transition all 0.2s ease
        &:hover
        &.active
            color $color1
            &::before
                width 100%
                background $merveilles

