.subscribe-form
    width 100%
    form
        display flex
        flex-flow row wrap
        align-items center
        justify-content space-between
        width 50%
        margin 40px auto 20px auto
        @media screen and (max-width: $mobile-width)
            width 100%
