ul
    &.tags
        margin 0 0 10px 0
        max-width $max-text-width
        width 50%
        clear both
        overflow hidden
        @media screen and (max-width: $mobile-width)
            width 100%
            display block
        li
            display inline-block
            margin 0px 4px 0px 0px
            cursor pointer
            a
                color $gray3
                padding 2px 2px 2px 2px
                box-sizing border-box
                font-size 0.6em
                letter-spacing 0.1em
                position relative
                z-index 2
                &::before
                    width 0%
                    height 100%
                    z-index -1
                    background $gray1
                    content ""
                    position absolute
                    bottom 0
                    transition all 0.2s ease
                &:hover
                    color $color1
                    &::before
                        width 100%
                &.active
                    color $black
                    &::before
                        width 100%
                        background $highlight
    &.tags-bottom.tags
        margin 0 auto 10px auto
        max-width $max-text-width
        width 100%
