main
    margin 15vh 0 15vh 0
    h1
    h2
    h3
        width 100%
        display block
        max-width 610px
    h1
        font-size 3.0em
        font-weight 700
        text-align center
        &.center
            margin 25vh auto 0 auto
    h2
        font-size 2.0em
        font-weight 700
        margin 0 0 10px 0
        border-bottom 1px solid
        min-height 40px
        padding 0 0 10px 0
        box-sizing border-box
    h3
        font-size 1.4em
        margin 10px 0 10px 0
    p
        font-size 1em
        max-width 600px
        line-height 1.8em
        @media screen and (max-width: 600px)
            width 100%
    a
        color $gray3
        font-size 0.8em
        text-decoration none
        transition color 0.5s ease
        &:hover
            color $color1
.sk-rotating-plane
.sk-spinner
    margin 45vh auto 0 auto
.index
.icono
    display block
    width 8vw
    height auto
    position fixed
    right 1.5vw
    z-index 1
    max-width 50px
.icono
    bottom 1.5vw
.index
    top 1.5vw
article
    min-height 70vh
    box-sizing border-box
    margin 1.5vh 0 1.5vh 0
    overflow hidden
.center
    text-align center
    margin auto
a.center
    display block
    width 100%
    margin 20vh 0 0 0
