@media print
    #footer
    .index
    .tags
    .links
        display none
    #header
        position absolute
        width auto
        height auto
        background transparent
        top 12px
        padding 0
        left initial
        right 0.5%
        h2
        .sticky
        nav
            display none
        main
            margin 0
    html
        body
            margin 0
            .wrapper
                width 100%
            h1
                font-size 2.5em
            .markdown
            .gallery
                img
                    max-width 500px
                    margin 25px auto 25px auto
                    page-break-before auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
                    page-break-after auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
                    page-break-inside avoid
                img[src$=".gif"]
                    display none
            .cv
                .markdown
                    font-size 0.75em
                    h2
                        font-size 1.2em
                        margin 15px auto 15px 0
                    ul
                        margin 0
                        li
                            line-height 1.8em
                            margin 0
                    p
                        margin 0 0 0 0
                        line-height 1.5em
                    blockquote
                        margin 10px 0 0 0
                    blockquote + ul
                        margin 10px 0 10px 0
