@media print
    #footer
    .index
    .tags
    .links
    .logo
        display none
    #header
        position absolute
        width auto
        height auto
        background transparent
        top 12px
        padding 0
        left initial
        right 0.5%
        h2
        .sticky
        nav
            display none
    main
        margin 0
    #application
    main
        margin-bottom 0
    .ellugar-icon
        display block
        position absolute
        top 2px
        right 2%
        width 15px
    html
        body
            margin 0
            .title
                .logo
                    display none
            .wrapper
                width 100%
            h1
                font-size 2.5em
            .markdown
            .gallery
                img
                    max-width 500px
                    margin 20px auto 20px auto
                    page-break-before auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
                    page-break-after auto /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
                    page-break-inside avoid
                img[src$=".gif"]
                    display none
            .cv
                .box
                    padding 0
                    border none
                    box-shadow none
                    text-align left
                    border-bottom 2px solid black
                    padding-bottom 5px
                .title-text
                    margin 0 auto 5px auto
                    font-size 1.1em
                .markdown
                    font-size 0.75em
                    h2
                        font-size 1.2em
                        margin 15px 0 10px 0
                    ul
                        margin 0
                        li
                            line-height 1.6em
                            margin 0
                    p
                        line-height 1.6em
                        margin 0
                    blockquote
                        margin 10px 0 0 0
                    blockquote + ul
                        margin 10px 0 10px 0
                        p
                            color #999
                    p + ul
                        margin 10px 0 0 0
