.projects
    ul
        width 100%
        padding 0
        &.vertical-list
            margin 0
            li
                display block
                width 100%
                margin 5px 0 5px 0
        &.tags
            margin 2vh 0 2vh 0
            font-size 0.8em
            li
                display inline-block
                margin 0 10px 0 0
        &.links
            margin 2vh 0 2vh 0
            font-size 0.8em
            li
                display inline-block
                margin 0 10px 0 0
                width 20px
                height 20px
                img
                    display block
                    width 100%
                    height 100%
    section
        width 31%
        display inline-block
        vertical-align top
        @media screen and (max-width: 600px)
            width 100%
            display block
