.projects
    ul.vertical-list
        width 100%
        margin 0
        padding 0
        li
            display block
            width 100%
            margin 5px 0 5px 0
    section
        width 31%
        display inline-block
        vertical-align top
        @media screen and (max-width: 600px)
            width 100%
            display block
