@import 'nib'
@import 'lib/*'

global-reset()

html
body
    margin 0
    padding 0
    color $color1
    background $color2
    font-family $fontSans
    word-spacing 0.2em
    letter-spacing 0.0825em
    .wrapper
        width calc(100% - 175px)
        height auto
        display block
        margin auto
        @media screen and (max-width: $mobile-width)
            width 90%
    .hideMobile
        @media screen and (max-width: $mobile-width)
            display none !important
    .hideDesktop
        @media screen and (min-width: $mobile-width)
            display none !important

@import 'components/*'
@import 'print.styl'
