@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()

html
body
    margin 0
    padding 0
    color $color1
    background $color2
    font-family $fontSans
    word-spacing 0.2em
    letter-spacing 0.0825em
    .wrapper
        width 80%
        /* max-width 1024px */
        height auto
        display block
        margin auto
    .hideMobile
        @media screen and (max-width: 820px)
            display none

@import 'transition'
@import 'glitch'
@import 'header'
@import 'content'
@import 'nav'
@import 'aside'
@import 'diary'
@import 'projects'
@import 'tags'
@import 'gallery'
@import 'cv'
@import 'error'
@import 'footer'
@import 'icons'
